.wrapper {
  max-width: calc(50% - 10px);
  text-align: left;
  border: 1px solid #ddd;
  border-radius: 0 0 6px 6px;
  box-shadow: 0 0 0px 0px rgba(0, 0, 0, 0.1);
  transition: box-shadow 100ms linear;

  &:hover {
    box-shadow: 0 0 7px 5px rgba(0, 0, 0, 0.1);
  }

  img {
    display: block;
    width: 100%;
  }
}

.title {
  padding: 8px 12px;
  font-size: 16px;
  color: #333;
}

@media (min-width: 768px) {
  .wrapper {
    max-width: calc(50% - 10px);
  }
}

@media (min-width: 992px) {
  .wrapper {
    max-width: calc(33% - 12px);
  }

  .title {
    font-size: 18px;
  }
}

@media (min-width: 1200px) {
  .wrapper {
    max-width: calc(33% - 10px);
  }
}

@media (min-width: 1400px) {
  .wrapper {
    max-width: calc(33% - 10px);
  }
}


