.wrapper {
  position: relative;
  margin-bottom: 30px;
  width: 400px;
}

.input {
  display: block;
  width: 100%;
  padding: 6px 10px;
  border: 1px solid #ddd;
  border-radius: 3px;
  outline: none;
}

.icon {
  position: absolute;
  top: 3px;
  right: 5px;
  width: 26px;
}
